.about {
	padding: 180px 0 212px 0;
}

.container--about {
	position: relative;
}

.about__title {
	position: absolute;
	width: 40%;
	color: $main-blue-color;
	letter-spacing: 0.05em;
	line-height: 46px;
}