.about {
	padding: 192px 0 212px 0;
}

.container--about {
	position: relative;
}

.about__title {
	position: absolute;
	width: 40%;
	color: $main-blue-color;
	font-weight: 600;
	letter-spacing: 0.05em;
	line-height: 46px;
}