.clients {
	padding-bottom: 155px;
	color: #ffffff;
}

.clients__title-block {
	display: flex;
}

.clients__title {
	font-size: 36px;
	width: 23.8%;
	line-height: 46px;
	letter-spacing: 0.05em;
}

.clients__description {
	margin-left: 97px;
	width: 57%;
	opacity: 0.6;
	line-height: 26px;
	letter-spacing: 0.05em;
}