.clients {
	padding-bottom: 125px;
	color: #ffffff;
}

.clients__title-block {
	display: flex;
}

.clients__title {
	font-size: 36px;
	width: 23.8%;
}

.clients__description {
	margin-left: 97px;
	width: 57.4%;
	opacity: 0.6;
	line-height: 26px;
	letter-spacing: 0.05em;
}