section.section.link
	.container.container--link
		.link__content
			.link__title-block
				h2.link__title Intrested to work with our team?
				p.link__title-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			button.button.link__button Let's Talk
	.link__line