nav.navigation
	ul.navigation__list
		li.navigation__item
			a(href="#").navigation__link About
		li.navigation__item
			a(href="#").navigation__link What We Do
		li.navigation__item
			a(href="#").navigation__link Project
		li.navigation__item
			a(href="#").navigation__link How It Work With Us