.socials
	ul.socials__list
		li.socials__item
			a(href="#").socials__link Instagram
		li.socials__item
			a(href="#").socials__link Facebook
		li.socials__item
			a(href="#").socials__link LinkedIn
		li.socials__item
			a(href="#").socials__link Youtube